<ng-container>

	<div class="container-fluid role-container" >

		<div class="row" >

			<nav class="col-md-2 sidebar"
				[class.reveal]="showSidebar" >

				<app-side-bar></app-side-bar>

			</nav>

			<main role="main"
					class="employer col-md-9 ml-sm-auto col-lg-10" >

					<ng-container *ngIf=displayMessage >

					<section id="unpaid-message-banner"
							name="unpaid-message-banner"
							class="unpaid-message py-3" >

						<div>

							<div class="row" >

								<div class="col-lg-10 offset-lg-1" >
									
									<p>
										You are enjoying FREE features. Update your membership for FULL access. <a class="btn" role="button" [routerLink]="['/student/premium']">	Just $9.95/mo! </a>
									</p>
									
								</div>

							</div>

						</div>

					</section>

				</ng-container>

				<router-outlet></router-outlet>

			</main>

		</div>

	</div>

</ng-container>
<!-- <div id="search-student" class="avoid-navbar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3">
				<div class="ss-sidenav py-2 px-3 text-left">
					<b>Personal Information</b>
					<br><b>Education & Test Scores</b>
					<br><b>Master Classes</b>
					<br><b>Summer Enrichment</b>
					<br><b>Repertoire & Performances</b>
					<br><b>Mock Audition Video</b>
					<br><b>Summer Enrichment</b>
					<br><b>References</b>
					<br><b>College & Summer Enrichment Preferences</b>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ss-greetings">
					<div class="row">
						<div class="col-lg-6 d-flex align-items-center justify-content-center">
							<div class="pl-2 py-5 py-lg-0">
								<h3>Hello Name!</h3>
								<p>Your Profile</p>
							</div>
						</div>
						<div class="col-lg-6">
							<img src="assets/images/search-student/Asset 1.png" class="w-100" alt="">
						</div>
					</div>
				</div>
				<div class="talent-search student-profile">
					<div class="row">
						<div class="col-md-12">
							<div class="ts-content">
								<h1>Profile Overview</h1>
								<div class="ts-explaination pt-2 px-0 px-sm-3">
									<p>
										Your profile is the first step in connecting with collegiate recruiters and scholarships trustees. 
										One of the first impression you will make is through the information shared in this profile. 
										Complete all fields that apply to your musical discipline and keep them updates as you go through 
										middle and high school. You may add to and edit your profile as often as needed.
									</p>
									<p>
										The required information listed below must be completed for your profile to be visible to higher 
										education recruiters. The optional data is not required, but the more information displayed, the 
										greater the chance to be discovered by prospective colleges, universities, and conservatories.
									</p>
									<div class="container meetAJ py-4">
										<div class="row">
											<div class="col-md-6">
												<img src="assets/images/student-profile/aj_neubert.jpg" alt="AJ Neubert">
											</div>
											<div class="col-md-6">
												<div class="meetAJ-content mt-md-0 mt-3">
													<h3>Meet AJ</h3>
													<p>
														"My name is AJ and I'll be helping you fill out your profile. For each section, 
														you can watch a video for tips and view what I entered."
													</p>
													<button class="btn student-profile-btn">See AJ's Completed Profile</button>
												</div>
											</div>
										</div>
									</div>
									<div class="container meetAJ py-4">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/VLZDNXuSL-s?playlist=VLZDNXuSL-s&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>

									<h3 class="text-center">Check List By Grade</h3>
									<div class="container-fluid list-by-grade">
										<div class="row">
											<div class="col-xl-3 col-sm-6">
												<div class="lbg-header">
													<h6>6th-7th Grade</h6>
													<h6>Required:</h6>
												</div>
												<p>Personal Information</p>
												<p>Educational History</p>
												<p>Repertoire</p>
												<h6>Suggested:</h6>
												<p>Mock Audition Video</p>
												<p>Private Instruction</p>
												<p>Summer Enrichment</p>
												<p>Honors & Awards</p>
											</div>
											<div class="col-xl-3 col-sm-6">
												<div class="lbg-header">
													<h6>8th Grade</h6>
													<h6>Required:</h6>
												</div>
												<p>Personal Information</p>
												<p>Educational History</p>
												<p>Repertoire</p>
												<h6>Suggested:</h6>
												<p>Mock Audition Video</p>
												<p>Private Instruction</p>
												<p>Summer Enrichment</p>
												<p>Master Classes</p>
												<p>Honors & Awards</p>
												<p>Festival / Competitions</p>
											</div>
											<div class="col-xl-3 col-sm-6">
												<div class="lbg-header">
													<h6>9th-10th Grade</h6>
													<h6>Required:</h6>
												</div>
												<p>Personal Information</p>
												<p>Educational History</p>
												<p>Repertoire</p>
												<h6>Suggested:</h6>
												<p>Mock Audition Video</p>
												<p>Private Instruction</p>
												<p>Summer Enrichment</p>
												<p>Master Classes</p>
												<p>Honors & Awards</p>
												<p>Festival / Competitions</p>
													<p>College Preferences</p>
											</div>
											<div class="col-xl-3 col-sm-6">
												<div class="lbg-header">
													<h6>11th-12th Grade</h6>
													<h6>Required:</h6>
												</div>
												<p>Personal Information</p>
												<p>Educational History</p>
												<p>Repertoire</p>
												<p>Mock Audition Video</p>
												<p>References</p>
												<p>College Preferences</p>
												<p>Personal Statement</p>
												
												<h6>Suggested:</h6>
												<p>Private Instruction</p>
												<p>Summer Enrichment</p>
												<p>Honors & Awards</p>
												<p>Festival / Competitions</p>
											</div>
										</div>
									</div>
									
									<h1 class="text-center mt-4">Profile Overview</h1>
									<div class="text-center">
										<button class="btn student-profile-btn">See AJ's Completed Personal Information</button>
									</div>
									<div class="row">
										<div class="col-sm-8 offset-sm-2 student-profile-select pt-4">
											<label for="" class="selectText">
												Primary Discipline:
												<select class="selectText">
													<option value="0">Choose One</option>
													<option value="1">Choose Two</option>
												</select>
											</label>
										</div>
										<div class="col-sm-8 offset-sm-2 student-profile-select pt-1">
											<label for="" class="selectText">
												Secondary Discipline(s):
												<select class="selectText">
													<option value="0">Choose One</option>
													<option value="1">Choose Two</option>
												</select>
											</label>
										</div>
										<div class="col-12">
											<h3 class="mt-3">Current Address:</h3>
										</div>
										<div class="col-sm-6">
											<input type="text" placeholder="Address 1" class="form-control bg-light">
										</div>
										<div class="col-sm-6">
											<input type="text" placeholder="Address 2" class="form-control bg-light">
										</div>
										<div class="col-sm-6">
											<input type="text" placeholder="City" class="form-control bg-light">
										</div>
										<div class="col-sm-6">
											<input type="text" placeholder="State" class="form-control bg-light">
										</div>
										<div class="col-sm-6">
											<input type="text" placeholder="Zip Code" class="form-control bg-light">
										</div>
										<div class="col-sm-6">
											<input type="text" placeholder="Country" class="form-control bg-light">
										</div>
										<div class="col-sm-6 text-center">
											<span class="selectText">Are you a US citizen?</span>
										</div>
										<div class="col-sm-6">
											<div class="check-boxs">
												<input type="checkbox"> Yes <input type="checkbox"> No
											</div>
										</div>
									</div>


									<h1 class="text-center mt-4">Personal Statement</h1>
									<div class="container meetAJ py-1">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/gbe7w1CJvj0?playlist=gbe7w1CJvj0&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>
									<p>
										This is an opportunity for the collegiate recruiter to get a glimpse of your personality while realizing 
										your potential contribution to their institution. Your personal statement should reflect degree program 
										desired, objectives of collegiate experience, and future career goals. This statement should be no more 
										than 1,000 words.
									</p>
									<p>
										Your personal statement may also be in a video formate up to three minutes long. You may include B-roll, 
										clips of performances, and more. Upload your video to YouTube or Vimeo and provide the link below.
									</p>
									<textarea class="form-control bg-light" rows="8" placeholder="Type Personal Statement Here (Max 1,000 Words)"></textarea>
									<div class="row">
										<div class="col-sm-6 student-profile-input">
											<input type="text" placeholder="Video Link" class="form-control bg-light">
										</div>
									</div>
									

									
									<h1 class="text-center mt-4">Educational Test & Scores</h1>
									<div class="container meetAJ py-1">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/8MJx8IaDlGM?playlist=8MJx8IaDlGM&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>
									<div class="px-2">
										<p>
											List each school you have attended beginning with your 6th grade year. If you attended more than one 
											school during an academic year, add all schools attended. Also, list all courses you have completed and 
											your final grade, related to performing arts and foreign language courses in the tables below. If 
											applicable, put "Homeschooled" for "Name of School."
										</p>
										<div class="text-center">
											<button class="btn student-profile-btn">See AJ's Completed Education & Test Scores</button>
										</div>
									</div>
									<div class="sp-education-scores py-3">
										<label for="" class="selectText">
											<span class="float-left pt-2">Expected High School Graduation Data: </span>
											<input type="text" placeholder="Month" class="small-input">
											<input type="text" placeholder="Year" class="small-input">
										</label>
										<label for="" class="selectText">
											<span class="float-left pt-2">Current Grade Point Average: </span>
											<input type="text" placeholder="Month" class="small-input">
										</label>
										<label for="" class="selectText">
											<span class="float-left">High School Class Rank: <br>(Add when available)</span>
											<input type="text" placeholder="Rank" class="small-input">
											<input type="text" placeholder="Class Size" class="small-input">
										</label>
									</div>
									<div class="sp-section-form my-2 px-3 py-2 bg-light">
										<div class="row">
											<div class="col-sm-6">
												<input type="text" placeholder="City" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="State" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Name of School" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Country" class="form-control bg-light">
											</div>
											<div class="col-xxl-6 pl-3">
												<label for="" class="selectText">
													<span class="float-left pt-2">Dates Attended: </span>
													<input type="text" placeholder="Month" class="small-input">
													<input type="text" placeholder="Year" class="small-input">
												</label>
											</div>
											<div class="col-xxl-6  pl-3">
												<label for="" class="selectText">
													<span class="float-left pt-2">To: </span>
													<input type="text" placeholder="Month" class="small-input">
													<input type="text" placeholder="Year" class="small-input">
												</label>
											</div>
										</div>
									</div>
									<span class="selectText">+ Add School</span>

									<h2 class="mt-4 text-center">Performing Art Courses (for all schools)</h2>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Year</th>
													<th scope="col">Grade Level</th>
													<th scope="col">Discipline</th>
													<th scope="col">Teacher's Name</th>
													<th scope="col">Course Title</th>
													<th scope="col">Letter Grade</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									<h2 class="mt-4 text-center">Foreign Language Courses <br>(for all schools):</h2>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Year</th>
													<th scope="col">Grade Level</th>
													<th scope="col">Language</th>
													<th scope="col">Course Title</th>
													<th scope="col">Letter Grade</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									<div class="sp-section-form my-2 px-3 py-2 bg-light">
										<div class="row">
											<div class="col-xxl-6 px-3">
												<h4 class="sp-form-text-color">SAT Scores</h4>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Math: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Reading & Writing: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Composition: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
											</div>
											<div class="col-xxl-6 px-3">
												<h4 class="sp-form-text-color">ACT Scores</h4>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">English: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Math: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Reading: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Science: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Composition: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
											</div>
										</div>
										<label for="" class="score-form-text mt-4">
											<span class="float-left">TOFEL Score: <br><small>(International Only)</small></span>
											<input type="text" placeholder="Month" class="small-input">
											<input type="text" placeholder="Year" class="small-input">
										</label>
										<label for="" class="score-form-text">
											<span class="float-left pt-2">TOFEL TEST DATE: </span>
											<input type="text" placeholder="Month" class="small-input">
											<input type="text" placeholder="Year" class="small-input">
										</label>
									</div>

									
									
									<h1 class="text-center mt-4">Private Instruction</h1>
									<div class="container meetAJ py-1">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/NqvU3UiLHNE?playlist=NqvU3UiLHNE&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>
									<div class="px-2">
										<p>
											This information should be reflective of private one-toone instruction of at least six weeks. 
											Private lessons given during a summer camp, symposium, or an intensive for a shorter time (minimum 
											two weeks) should be included in this section. Master class participation should not be included 
											in this form. Your class instructor providing after-school help with your ensemble music does not 
											constitute private instruction and should not be included in this section. The repertoire that you 
											studied and performed should be entered in the Repertoire section.
										</p>
										<div class="text-center">
											<button class="btn student-profile-btn">See AJ's Completed Private Instruction</button>
										</div>
									</div>
									<div class="sp-section-form  horizontally-scrollable my-3 px-3 py-2 bg-light">
										<div class="row">
											<div class="col-sm-6">
												<input type="text" placeholder="City" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="State" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Teacher" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Institution" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Hours Per Week" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Discipline" class="form-control bg-light">
											</div>
											<div class="col-xxl-6 pl-3">
												<label for="" class="selectText">
													<span class="float-left pt-2">Dates Attended: </span>
													<input type="text" placeholder="Month" class="small-input">
													<input type="text" placeholder="Year" class="small-input">
												</label>
											</div>
											<div class="col-xxl-6  pl-3">
												<label for="" class="selectText">
													<span class="float-left pt-2">To: </span>
													<input type="text" placeholder="Month" class="small-input">
													<input type="text" placeholder="Year" class="small-input">
												</label>
											</div>
										</div>
									</div>
									<span class="selectText">+ Add Teacher</span>

									
									
									<h1 class="text-center mt-4">Master Classes</h1>
									<div class="container meetAJ py-1">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/4D49KHijQoE?playlist=4D49KHijQoE&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>
									<div class="px-2">
										<p>
											This information should represent participation in a presentation by a musical professional, regardless 
											of location. List the repertoire you performed as a part of the master class in the appropriate section 
											under Repertoire.
										</p>
										<div class="text-center">
											<button class="btn student-profile-btn">See AJ's Completed Master Classes</button>
										</div>
									</div>
									<div class="sp-section-form  horizontally-scrollable my-3 px-3 py-2 bg-light">
										<div class="row">
											<div class="col-sm-6">
												<input type="text" placeholder="Instructor" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Topic" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Discipline" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Institution" class="form-control bg-light">
											</div>
											<div class="col-sm-4">
												<input type="text" placeholder="City" class="form-control bg-light">
											</div>
											<div class="col-sm-4">
												<input type="text" placeholder="State" class="form-control bg-light">
											</div>
											<div class="col-sm-4">
												<input type="text" placeholder="Country" class="form-control bg-light">
											</div>
											<div class="col-12 pl-3">
												<label for="" class="selectText">
													<span class="float-left pt-2">Dates Attended: </span>
													<input type="text" placeholder="Month" class="small-input">
													<input type="text" placeholder="Day" class="small-input">
													<input type="text" placeholder="Year" class="small-input">
												</label>
											</div>
											<div class="col-sm-6">
												<span class="selectText">Performed for Critique?</span>
											</div>
											<div class="col-sm-6">
												<div class="check-boxs">
													<input type="checkbox"> Yes <input type="checkbox"> No
												</div>
											</div>
											<div class="col-sm-6">
												<span class="selectText">Attended?</span>
											</div>
											<div class="col-sm-6">
												<div class="check-boxs">
													<input type="checkbox"> Live <input type="checkbox"> Online
												</div>
											</div>
										</div>
									</div>
									<span class="selectText">+ Add Master Class</span>

									
									
									<h1 class="text-center mt-4">Summer Enrichment</h1>
									<div class="container meetAJ py-1">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/Dr5GwnlWdug?playlist=Dr5GwnlWdug&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>
									<div class="px-2">
										<p>
											In this section enter your participation in summer camps and/or enrichment programs lasting at least one week. 
											Enter the repertoire performed and/or stage production participation in the Repertoire section. If you took 
											private lessons or participated in a master class enter those in the appropriate sections. In addition, if you 
											received a scholarship to attend and/or received some form of recognition as a part of the summer enrichment 
											experience, this should be entered in the individual Awards section of <strong>Honor & Awards</strong>.
										</p>
										<div class="text-center">
											<button class="btn student-profile-btn">See AJ's Completed Summer Enrichment</button>
										</div>
									</div>
									<div class="sp-section-form my-3 px-3 py-2 bg-light">
										<h4 class="sp-form-text-color">Ensemble Summer Enrichment:</h4>
										<div class="row">
											<div class="col-sm-6">
												<input type="text" placeholder="Name of Event" class="form-control bg-light">
											</div>
											<div class="col-sm-6">
												<input type="text" placeholder="Sponsering Organization" class="form-control bg-light">
											</div>
											<div class="col-sm-4">
												<input type="text" placeholder="City" class="form-control bg-light">
											</div>
											<div class="col-sm-4">
												<input type="text" placeholder="State" class="form-control bg-light">
											</div>
											<div class="col-sm-4">
												<input type="text" placeholder="Country" class="form-control bg-light">
											</div>
											<div class="col-12 pl-3">
												<label for="" class="selectText">
													<span class="float-left pt-2">Dates Attended: </span>
													<input type="text" placeholder="Month" class="small-input">
													<input type="text" placeholder="Day" class="small-input">
													<input type="text" placeholder="Year" class="small-input">
												</label>
											</div>
											<div class="col-sm-8 offset-sm-2">
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Length: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="Weeks" class="small-input"> 
													</div>
												</div>
											</div>
											<div class="col-sm-8 offset-sm-2">
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Primary Emphasis: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
											</div>
											<div class="col-sm-8 offset-sm-2">
												<div class="row">
													<div class="col-6">
														<span class="pt-2 score-form-text">Secondary Emphasis: </span>
													</div>
													<div class="col-6">
														<input type="text" placeholder="" class="small-input"> 
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="sp-art-courses horizontally-scrollable mt-4">
													<table class="table bg-light table-bordered">
														<thead>
															<tr>
																<th scope="col">Ensemble</th>
																<th scope="col">Section</th>
																<th scope="col">Chair</th>
																<th scope="col">Role <br>(If Applicable)</th>
																<th scope="col">Conductor/Director <br>(Optional)</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
												<span class="selectText">+ Add Row</span>
											</div>
											<div class="col-12">
												<h5 class="sp-form-text-color mt-4">Musical Theater or Opera Summer Enrichment</h5>
												<div class="sp-art-courses horizontally-scrollable">
													<table class="table bg-light table-bordered">
														<thead>
															<tr>
																<th scope="col">Title of <br>Production</th>
																<th scope="col">Role Within <br>Production</th>
																<th scope="col">Director</th>
																<th scope="col">Video Link of Your Performance <br>(not entire production)</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
												<span class="selectText">+ Add Summer Enrichment</span>
											</div>
										</div>
									</div>

									
									
									<h1 class="text-center mt-4">Repertoire & Performances</h1>
									<div class="container meetAJ py-1">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/fzO_lTy9ODE?playlist=fzO_lTy9ODE&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>
									<div class="px-2">
										<p>
											In this section you will have the opportunity to enter performed and/or studied repertoire in the following 
											classifications: Etude, Solo, Small-Ensemble, and Singer/ Songwriter/Composer. In addition, if you are 
											entering information for musical theater, show choir, or opera, you can enter your participation in the 
											appropriate section. You are encouraged to provide links to as many videos as possible to increase your 
											visibility to recruiters. You video should feature your performance only - not a group performance or an 
											entire production.
										</p>
										<div class="text-center">
											<button class="btn student-profile-btn">See AJ's Completed Repertoire & Performances</button>
										</div>
									</div>
									<h4 class="mt-4">Instrumental & Non-role Vocal</h4>
									<h5 class="sp-form-text-color">Etude Studies</h5>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Name of Book</th>
													<th scope="col">Composer(s)</th>
													<th scope="col">Etude No.</th>
													<th scope="col">School Grade</th>
													<th scope="col">Video Link</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									<h5 class="sp-form-text-color mt-3">Solo Studies</h5>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Name of <br>Composition</th>
													<th scope="col">Composer(s)</th>
													<th scope="col">Performed <br>(Y/N))</th>
													<th scope="col">School Grade</th>
													<th scope="col">Musical Grade <br>(Optional)</th>
													<th scope="col">Video Link</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									<h5 class="sp-form-text-color mt-3">Singer/Songwriter/Composer</h5>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Name of Composition</th>
													<th scope="col">Arranged For</th>
													<th scope="col">School Grade</th>
													<th scope="col">Video Link</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									<h4 class="mt-4">Musical Theater, Show Choir, Opera Repertoire</h4>
									<h5 class="sp-form-text-color">Solo Repertoire</h5>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Name of Song</th>
													<th scope="col">Title of Show/Movie</th>
													<th scope="col">Role Within Show</th>
													<th scope="col">Performed <br>(Y/A)</th>
													<th scope="col">School <br>Grade</th>
													<th scope="col">Video Link</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									<h5 class="sp-form-text-color mt-3">Monologues</h5>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Name of <br>Monologues</th>
													<th scope="col">Title of Show/Movie</th>
													<th scope="col">Character</th>
													<th scope="col">School Grade</th>
													<th scope="col">Video Link</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									<h5 class="sp-form-text-color mt-3">Dance</h5>
									<div class="sp-art-courses horizontally-scrollable">
										<table class="table bg-light table-bordered">
											<thead>
												<tr>
													<th scope="col">Name of Composition</th>
													<th scope="col">Title of Show<br> (If Applicable)</th>
													<th scope="col">Dance Style</th>
													<th scope="col">School Grade</th>
													<th scope="col">Video Link</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<span class="selectText">+ Add Row</span>

									
									
									<h1 class="text-center mt-4">Mock Audition Video</h1>
									<div class="container meetAJ py-1">
										<div class="row">
											<div class="col-md-8 offset-md-2">
												<iframe src="https://www.youtube.com/embed/2nt7q-Wwl6U?playlist=2nt7q-Wwl6U&autoplay=0&mute=0&showinfo=0&controls=1&loop=1&modestbranding=1"></iframe>
											</div>
										</div>
									</div>
									<div class="px-2">
										<p>
											The most important aspect of the audition process is the demonstration of performance ability. While you 
											may not have reached the level of collegiate audition status, it is good to begin displaying musicianship 
											for possible summer enrichment experience and/or recruiters to track your musical progress.
										</p>
										<div class="text-center">
											<button class="btn student-profile-btn">See AJ's Completed Mock Audition Video</button>
										</div>
									</div>
									<h4 class="mt-4">See AJ's Completed Mock Audition Video</h4>
									<h5 class="sp-form-text-color">General Guidelines for Video Recording:</h5>
									<div class="px-4 sp-mock-audition-guidelines">
										<p>
											- State your full name, city, and state.
										</p>
										<p>
											- Announce the selection with title, composer, etude book and number if applicable.
										</p>
										<p>
											- If performing an excerpt announce the section being performed 
										</p>
										<p>
											- If you are performing from an opera or musical theater show announce the song/aria title, composer, 
											and title of show/opera
										</p>
										<p>
											- Each portion of your audition may be recorded separately.
										</p>
										<p>
											- Video of each portion must be unedited and produced with a single, fixed-focus camera (no zooming) that 
											displays a full-body view of the applicant and instrument if applicable.
										</p>
										<p>
											- Recordings may be produced on home-quality equipment, including phone cameras 
										</p>
										<p>
											- Accompaniment is not required but encouraged. If you have accompaniment, introduce the accompanist.
										</p>
										<p>
											- Upload your mock audition to YouTube or Vimeo.
										</p>
									</div>
									<h5 class="sp-form-text-color mt-4">Grade-appropriate guidelines for your video:</h5>
									<div class="px-4 sp-mock-audition-guidelines">
										<h6 class="sp-form-text-color">6th-7th Grade:</h6>
										<p>
											- 15 Minutes of solo repertoire
										</p>
										<p>
											- 5 minutes of scales (recommended)
										</p>
										<p>
											- 7 minutes of etudes (optional)
										</p>
										<p>
											- 15 minutes of participation in small and/or large ensembles (optional)
										</p>

										<h6 class="sp-form-text-color">9th-10th Grade:</h6>
										<p>
											- 25 Minutes of selected solo repertoire
										</p>
										<p>
											- 5 minutes of scales
										</p>
										<p>
											- 10 minutes of etudes if applicable
										</p>
										<p>
											- 15 minutes of participation in small and/or large ensembles (optional)
										</p>

										<h6 class="sp-form-text-color">11th-12th Grade:</h6>
										<p>
											- 40 Minutes of selected solo repertoire
										</p>
										<p>
											- 5 minutes of scales
										</p>
										<p>
											- 15 minutes of etudes if applicable
										</p>
										<p>
											- 20 minutes of participation in small and/or large ensembles
										</p>

										<p class="pt-2">
											Accoladi had complied audition requirements from America's major schools of music 
											as a guideline for audition perparation. These requirements may be found in Model
											Audition Requirments.
										</p>
									</div>

									<div class="text-center mt-5 mb-3">
										<button class="btn student-profile-btn m-1">Search</button>
										<button class="btn student-profile-btn m-1">Reset</button>
										<button class="btn student-profile-btn m-1">Save</button>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->