<!-- <div class="gold-page">
	
	<h2 class="heading text-center">ADVANTAGES</h2>
	
	<div class="container-fluid">
		
		<div class="row justify-content-md-center">
			
			<div class="col-8">
					content
			</div>

		</div>

	</div>

	<app-footer></app-footer>
	
</div> --><!-- ArticleSub-Header Start -->
     <div id="articleSub-header">
        <h1 class="text-right">IT'S <br>YOUR <br><span>CHOICE</span></h1>  
     </div>
     <!-- ArticleSub-Header End -->
     <!-- Right-School Section Start -->
     <div id="right-school" class="text-center">
          <h1>Finding the School That's Your Right Fit</h1>
     </div>
     <!-- Right-School Section End -->
     <!-- Right-School-Details Section Start -->
     <div id="right-school-details">
          <div class="container">
               <div class="row">
                    <div class="col-md-6">
                         <p>Choosing a school or music department within a college, university or conservatory can 
                         be very hard intimidation task. There are so many important factors that need to be considered 
                         when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously</p>
                    </div>
                    <div class="col-md-6">
                         <img src="assets/images/articles/Group_350 (2).png">
                    </div>
               </div>
               <div class="row">
                    <div class="col-12">
                         <p class="detail-text2">Choosing a school or music department within a college, university or conservatory can 
                         be very hard intimidation task. There are so many important factors that need to be considered 
                         when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously. when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously.</p>
                    </div>
               </div>
               <h1 class="articleSub-title">Location Of School</h1>
               <div class="row">
                    <div class="col-12">
                         <p >Choosing a school or music department within a college, university or conservatory can 
                         be very hard intimidation task. There are so many important factors that need to be considered 
                         when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously. when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously.</p>
                    </div>
               </div>
          </div>
     </div>
     <!-- Right-School-Details Section End -->
     <!-- Article-Sub-Details2 Section Start -->
     <div id="articleSubDetails2">
          <div class="container">
               <h1 class="articleSub-title">What Degrees are offered</h1>
               <div class="row">
                    <div class="col-12">
                         <p >Choosing a school or music department within a college, university or conservatory can 
                         be very hard intimidation task. There are so many important factors that need to be considered 
                         when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously. when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously.</p>
                    </div>
               </div>
               <h1 class="articleSub-title">Exceptional Faculty</h1>
               <div class="row">
                    <div class="col-12">
                         <p >Choosing a school or music department within a college, university or conservatory can 
                         be very hard intimidation task. There are so many important factors that need to be considered 
                         when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously. when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously.</p>
                    </div>
               </div>
               <h1 class="articleSub-title">Successful Alumni</h1>
               <div class="row">
                    <div class="col-12">
                         <p >Choosing a school or music department within a college, university or conservatory can 
                         be very hard intimidation task. There are so many important factors that need to be considered 
                         when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously. when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously.</p>
                    </div>
               </div>
               <h1 class="articleSub-title">Final Thoughts</h1>
               <div class="row">
                    <div class="col-12">
                         <p >Choosing a school or music department within a college, university or conservatory can 
                         be very hard intimidation task. There are so many important factors that need to be considered 
                         when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously. when you are trying to find the best music school. The Collegiate music program you pick  will 
                         have a lasting effect on your future career. While it may be fun to browse various school, it's a 
                         a decission that should be taken seriously.</p>
                    </div>
               </div>
          </div>
          <!-- Footer Section Start -->
          <div class="article-footer">
               <img src="assets/images/accolati-dark.png" alt="logo" class="img-fluid mission-logo" />
               <div class="text-2 text-center">
                    <!-- 3201 Dickerson Pike,  -->Nashville, TN, 37207 | 615-393-6116
               </div>
               <div class="text-3 text-center">
                    Copyright &copy; 2021 Accoladi, a division of ScholarshipAuditions.com
                    Holdings Inc. All rights reserved.
               </div>
               <div class="text-3 text-center">
                    Copyright &copy; 2021 Accoladi, a division of ScholarshipAuditions.com
                    Holdings Inc. All rights reserved.
               </div>

               <!-- footer Section Start! -->
               <div id="footer">
                    <table width="100%" height="100%">
                         <tr>
                              <td align="center">
                                   <div class="icons">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-youtube"></i></a>
                                        <a href="#"><i class="fa fa-amazon"></i></a>
                                   </div>
                              </td>
                         </tr>
                    </table>
                    <div class="footerMain">
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-3 col-sm-6 col-6">
                                        <h6>Get Started</h6>
                                        <a href="#">Start a Free Trail</a><br>
                                        <a href="#">Get Connected</a><br>
                                        <a href="#">Commitment to Teacher</a>
                                        <a href="#">Commitment to Higher Ed</a>
                                   </div>
                                   <div class="col-md-3 col-sm-6 col-6">
                                        <h6>Discover</h6>
                                        <a href="#">Non-Institutional Scholarships</a><br>
                                        <a href="#">College Directory</a><br>
                                        <a href="#">Collegiate Premier Programs</a><br>
                                        <a href="#">Collegiate Admission Process</a><br>
                                        <a href="#">Model Audition Requirements</a><br>
                                        <a href="#">Repertoire Directory</a><br>
                                        <a href="#">Summer Camp Directory</a><br>
                                        <a href="#">Competition & Festival Directory</a><br>
                                        <a href="#">Entrance Exam Questions</a><br>
                                        <a href="#">Music Terms</a><br>
                                        <a href="#">Music History</a><br>
                                        <a href="#">Music Theory</a><br>
                                        <a href="#">Grade by Grade Auditon</a><br>
                                        <a href="#">Preparation Guide</a><br>
                                        <a href="#">Musical Career</a><br>
                                        <a href="#">Motivational Momemts</a><br>
                                        <a href="#">Articles & Blogs</a>
                                   </div>
                                   <div class="col-md-3 col-sm-6 col-6">
                                        <h6>Support</h6>
                                        <a href="#">Contact Us</a><br>
                                        <a href="#">Resources For Students</a><br>
                                        <a href="#">Resources For Teachers</a><br>
                                        <a href="#">Resources For Higher Ed</a><br>
                                        <a href="#">Educational Products</a><br>
                                        <a href="#">Frequently Asked Questions</a><br>
                                        <a href="#">Troubleshooting</a><br>
                                        <a href="#">Sitemap</a>
                                   </div>
                                   <div class="col-md-3  col-sm-6 col-6">
                                        <h6>Company</h6>
                                        <a href="#">About Us</a><br>
                                        <a href="#">The Accoladi Advantages</a><br>
                                        <a href="#">Commitment to Diversity</a><br>
                                        <a href="#">Founder Story</a><br>
                                        <a href="#">Team Members</a><br>
                                        <a href="#">Interns</a><br>
                                        <a href="#">Careers</a><br>
                                        <a href="#">Advisory Boards</a><br>
                                        <a href="#">Event Attending</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!-- footer section End! -->
     </div>
     <!-- Article-Sub-Details2 Section End -->