<div class="getConnected-page">
	
	<h2 class="heading text-center">Get Connected</h2>
	
	<div class="container-fluid">
		
		<div class="row mt-5">
			
			<div class="col-lg-4 mt-4 text-center connection">
				
				<div class="wrapper">
					<h4 class="title">Student</h4>
					<a [routerLink]="['/register']" class="button-1">*10-Day Free Trail</a>
					<img src="assets/images/student.png" alt="student-img" class="img-fluid d-block mx-auto" />
					<a (click)="openCommitmentStudent(content1)" style="cursor:pointer;" class="button-2">Our Commitment to Students</a>
				</div>

			</div>
			
			<div class="col-lg-4 mt-4 text-center connection">
				
				<div class="wrapper">
					<h4 class="title">Teacher</h4>
					<a [routerLink]="['/register']" class="button-1">Create Free Account</a>
					<img src="assets/images/teacher.png" alt="student-img" class="img-fluid d-block mx-auto" />
					<a (click)="openCommitmentTeacher(content2)" style="cursor:pointer;" class="button-2">Our Commitment to Teachers</a>
				</div>

			</div>
			
			<div class="col-lg-4 mt-4 text-center connection">
				
				<div class="wrapper">
					<h4 class="title">Recruiter</h4>
					<a [routerLink]="['/register']" class="button-1">Create Free Account</a>
					<img src="assets/images/recruiter.png" alt="student-img" class="img-fluid d-block mx-auto" />
					<a (click)="openCommitmentRecruiter(content3)" style="cursor:pointer;" class="button-2">Our Commitment to Recruiters</a>
				</div>

			</div>
			
		</div>

		<!-- tmp video -->
		<div class="row mt-5">
			<div class="col-lg-10 mt-10 text-center connection">
			<iframe
				width="900"
				height="600"
				src="https://www.youtube.com/embed/ng18-GMGzDI?rel=0"
				frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
		
		
			
	<!--
	<div class="container-fluid quote-section">	 <div class="row">
			<div class="col-lg-8 position-relative mt-5">
				<img src="assets/images/parker-journey-img.png" alt="img" class="w-100" />
				<div class="img-label">Parker’s Journey</div>
			</div>
			
			<div class="col-lg-4 mt-5">
				
				<div class="d-flex align-items-center">
					<div class="col-6 text-center">
						<img src="assets/images/quote-1-img.png" alt="img" class="img-fluid" />
					</div>
					<div class="col-6 quote-text text-center">Quote</div>
				</div>
				
				<div class="d-flex align-items-center my-5 sec-y-margin">
					<div class="col-6 text-center">
						<img src="assets/images/quote-2-img.png" alt="img" class="img-fluid" />
					</div>
					<div class="col-6 quote-text text-center">Quote</div>
				</div>
				
				<div class="d-flex align-items-center">
					<div class="col-6 text-center">
						<img src="assets/images/quote-3-img.png" alt="img" class="img-fluid" />
					</div>
					<div class="col-6 quote-text text-center">Quote</div>
				</div>
				
			</div>
			
		</div>

	</div> -->
	
	<div class="pricing">
	
		<h2 class="heading text-center">Student Pricing</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">3 Month</div>
				<div class="col-6">$30</div>
				<div class="col-6">6 Month</div>
				<div class="col-6">$55</div>
				<div class="col-6">1 Year</div>
				<div class="col-6">$100</div>
				<div class="col-6">Lifetime	<small>(per student)</small></div>
				<div class="col-6">$199</div>
			</div>
		</div>

	</div>
	
	<div class="text-center note-text">
		*The 10-day free trial includes limited search results and resources.
		Your profile is not searchable to recruiters during the trial period.
	</div>

	<app-footer></app-footer>

</div>

<ng-template #content1 let-modal>
	<h3 class="modal-header">Our Commitment to Students</h3>
	<div class="model-body">
		We will connect you to:
		<ul>
			<li>Potential colleges, universities, and conservatories that offer a music degree</li>
			<li>Potential institutions seeking your talents, even if you are not going to major in music </li>
			<li>A college directory of U.S. colleges, universities, and conservatories, and the specific music degrees they offer</li>
			<li>A national directory of collegiate premier programs</li>
			<li>US Military music ensemble opportunities</li>
			<li>A searchable profile, where you can upload your educational information, performance history, honors, awards, references, and performance videos</li>
			<li>A national directory of non-institutional scholarships</li>
			<li>A directory of music career opportunities</li>
			<li>A directory of music camps, summer stock, and master classes</li>
			<li>A directory of festivals and competitions</li>
			<li>Resources about the application, audition, and acceptance process</li>
			<li>A national repertoire directory of audition-appropriate pieces</li>
			<li>Hundreds of schools’ music entrance exam questions and answers</li>
			<li>500 musical terms found in music entrance exams</li>
			<li>A guide of general music history</li>
			<li>The American Music Timeline</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>

<ng-template #content2 let-modal>
	<h3 class="modal-header">Our Commitment to Teachers</h3>
	<div class="model-body">
		We will connect you to:
		<ul>
			<li>A platform where your students can upload their educational and performance history, references, and performance videos for collegiate and summer enrichment recruiters</li>
			<li>A portal to upload and maintain a reference for each of your student’s needs.</li>
			<li>A platform to follow your students’ collegiate process</li>
			<li>A college directory of U.S. colleges, universities, and conservatories, and the specific music degrees they offer</li>
			<li>A directory of non-institutional scholarships to aid your students, parents, and school counselors in the procurement of scholarship funds</li>
			<li>A directory of music camps, summer stock, and master classes</li>
			<li>A directory of festivals and competitions</li>
			<li>A national repertoire directory of solos, appropriate for college auditions</li>
			<li>Music department entrance exam questions and answers</li>
			<li>A Resource Center of articles, guides, and musical exercises to facilitate your needs</li>
			<li>A video series of Motivational Moments that can be used in your classroom </li>
			<li>A support program (SOAR) for your underserved students</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>

<ng-template #content3 let-modal>
	<h3 class="model-heading">Our Commitment to Recruiters</h3>
	<div class="model-body">
		We will connect you to:
		<ul>
			<li>A searchable database of prospective students, including their educational information, performance history, honors, references, and solo performance videos</li>
			<li>A secure portal to review teacher references</li>
			<li>A secure messaging portal for direct contact with students, parents, and teachers  </li>
			<li>A national directory of non-institutional scholarships</li>
			<li>An opportunity for your school and music program to be featured on our front page</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>