<div class="who-how-what-why-page">
	
	<h2 class="heading text-center">HOW WE DO IT</h2>
	
	<div class="container-fluid">

		<div class="row justify-content-md-center">
			
			<div class="col-3">
				
				<div class="text-center" style="border:solid thick gold">
					&nbsp;<br>&nbsp;<br><h4>Students &amp; Parents</h4>&nbsp;<br>&nbsp;<br>
				</div>

			</div>

			<div class="col-5">

				<ul>
					<li>Assistance in the application, audition and acceptance process, regardless of major</li>
					<li>A platform to upload information, references, and audition videos</li>
					<li>College directories of music degrees and premier programs</li>
					<li>A searchable directory of non-institutional scholarships</li>
					<li>A directory of careers in music</li>
					<li>Support resources: music entrance exam samples and a repertoire directory appropriate for auditions Students & Parents</li>
				</ul>

			</div>

		</div>

		&nbsp;<br>&nbsp;<br>

		<div class="row justify-content-md-center">
			
			<div class="col-5">
				
				<ul>
					<li>Video and printable materialsoutlining trends in recruiting, auditioning and scholarship  procurement</li>
					<li>A portal for uploading references</li>
					<li>Audition exercises for ensemble participation or individual instruction</li>
					<li>A support program (Soar Program) for assisting underserved studentsTeachers</li>
				</ul>

			</div>

			<div class="col-3">
				
				<div class="text-center" style="border:solid thick gold">
					&nbsp;<br>&nbsp;<br><h4>Teachers</h4>&nbsp;<br>&nbsp;<br>
				</div>

			</div>

		</div>

		&nbsp;<br>&nbsp;<br>

		<div class="row justify-content-md-center">
			
			<div class="col-3">
				
				<div class="text-center" style="border:solid thick gold">
					&nbsp;<br>&nbsp;<br><h4>Recruiters</h4>&nbsp;<br>&nbsp;<br>
				</div>

			</div>

			<div class="col-5">

				<ul>
					<li>A searchable database of prospective students,  with video solo performances</li>
					<li>A secure portal for direct contact with students and their parents/teachersRecruiters</li>
				</ul>

			</div>

		</div>

	</div>

	<app-footer></app-footer>
	
</div>