	<!-- Hero Section -->
	<div class="hero-section">

		<div class="hero-subtext">
			<h4>When you make the</h4>
			<h4 class="right">right connection,</h4>
		</div>

		<div class="hero-maintext">
			<h1>anything is</h1>
			<h1 class="right">possible.</h1>
		</div>

		<div class="text-right">
			<button
				[routerLink]="['/public/get-connected']"
				class="btn btn-outline-light hero-button dropdown-toggle"
				id="navbarDropdown"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false">GET CONNECTED</button>
		</div>

	</div>
	<!-- Hero Section End -->

	<!-- Explore Section -->
	<div class="explore-section">

		<div class="row">

			<div class="col-sm-4 text-center">
				<h3 class="right-border">music scholarships</h3>
			</div>

			<div class="col-sm-4 text-center">
				<h3 class="right-border">audition advice</h3>
			</div>

			<div class="col-sm-4 text-center">
				<h3>collegiate connections</h3>
			</div>

		</div>

	</div>
	<!-- Explore Section End -->

	<section id="section-1-2">

		<!-- Section 1 -->
		<div class="section-1">

			<!-- Scholarship Section -->
			<div class="scholarship">

				<h2 class="heading text-center mb-3">SCHOLARSHIPS</h2>

				<div class="row">

					<div class="col-lg-4 text-center mt-3">
						<h3 class="title">$5.2 Billion</h3>
						<p class="text">in performing arts scholarships available each year</p>
					</div>

					<div class="col-lg-4 text-center mt-3">
						<h3 class="title">$1.3 Billion</h3>
						<p class="text">in unclaimed scholarship money each year</p>
					</div>

					<div class="col-lg-4 text-center mt-3">
						<h3 class="title">$7500</h3>
						<p class="text">average award per year for performing arts students in the U.S</p>
					</div>

				</div>

				<div class="text-2 text-center">
					*In-house research derived from the National Center for Education Statistics
				</div>

				<!-- <div class="text-center">
					<button class="btn button">View over 16,000 Scholarships</button>
				</div> -->

			</div>
			<!-- Scholarship Section End -->

			<!-- Resources Section -->
			<div class="resources-section">

				<h2 class="heading text-center">RESOURCES</h2>

				<p class="text">
					We’ve done the application, audition, and scholarship research for you. We have the directories, articles, and guides you need to be successful.
				</p>

			</div>
			<!-- Resources Section End -->

		</div>
		<!-- Section 1 End -->

		<!-- Section 2 -->
		<div class="section-2">

			<!-- Start -->
			<div class="container-fluid ease-th-section">

				<div class="row ease-th align-items-center">

					<div class="col-xl-4 px-0">
						<img src="assets/images/audition-req-img.png" alt="img" class="w-100" />
					</div>

					<div class="col-xl-8 px-xl-5 my-4 my-xl-0 text-center text-xl-start">

						<h2 class="title">Audition Requirements</h2>

						<p class="text">
							From colleges, universities, and conservatories for every discipline
						</p>

						<!-- <button class="btn button">Find Your Requirements</button> -->

					</div>

				</div>

				<div class="row ease-th align-items-center mt-5">

					<div class="col-xl-4 px-0 order-xl-1">
						<img src="assets/images/entrance-exam-img.png" alt="img" class="w-100" />
					</div>

					<div class="col-xl-8 px-xl-5 my-4 my-xl-0 text-center text-xl-start order-xl-0 ">

						<h2 class="title">Entrance Exams</h2>

						<p class="text">
							Questions and answers from over 200 music programs
						</p>

						<!-- <button class="btn button">Start Studing</button> -->

					</div>

				</div>

				<br/>

				<div class="text-center my-5">
					<button [routerLink]="['/public/resources']" class="btn more-resource-btn">Explore More Resources</button>
				</div>

				<br/>

			</div>
			<!-- End -->

			<!-- Featured Student -->
			<div class="featured-student container-fluid">

				<h2 class="heading text-center">FEATURED STUDENTS</h2>

				<div class="row">

					<div class="col-lg-8 position-relative mt-4" (click)="openFeaturedStudent1(featureStudent1)" >
						<img src="assets/images/featured/student1.png" alt="img" class="w-100" />
						<div class="student-name">Odessa, TX</div>
					</div>

					<div class="col-lg-4 mt-4">

						<div class="position-relative" (click)="openFeaturedStudent2(featureStudent2)" >
							<img src="assets/images/featured/student2.png" alt="img" class="w-100" />
							<div class="student-name">Dallas, TX</div>
						</div>

						<div class="position-relative mt-4" (click)="openFeaturedStudent3(featureStudent3)" >
							<img src="assets/images/featured/student3.png" alt="img" class="w-100" />
							<div class="student-name">Cooksville, MD</div>
						</div>

					</div>

				</div>
			</div>
			<!-- Featured Student End -->

		</div>
		<!-- Section 2 End -->

	</section>

	<!-- Featured School - program -->
	<div class="featured container-fluid">

		<div class="row align-items-center">

			<div class="col-lg-6 position-relative px-0 order-0 order-lg-0" (click)="openFeaturedSchool(featureSchool)" >
				<img src="assets/images/featured/school.png" alt="img" class="w-100 featured-img" />
				<div class="feature-label right">Featured School</div>
			</div>

			<div class="col-lg-6 feature-desc order-1 order-lg-1">
				Texas State University <br /><br />
				San Marcos, Texas
			</div>

			<div class="col-lg-6 feature-desc order-3 order-lg-2">
				Texas State University <br /><br />
				Featured Program: Musical Theatre
			</div>

			<div class="col-lg-6 position-relative px-0 order-2 order-lg-3" (click)="openFeaturedProgram(featureProgram)" >
				<img src="assets/images/featured/program.png" alt="img" class="w-100 featured-img" />
				<div class="feature-label left">Featured Program</div>
			</div>

		</div>

	</div>
	<!-- Featured School - program end -->

	<!-- Mission -->
	<div class="mission">

		<h2 class="heading text-center">OUR MISSION</h2>

		<p class="text text-center">
			We empower student performers to recognize, afford, and achieve their collegiate dreams.
		</p>

		<div class="container-fluid mission-buttons">

			<div class="row">

				<div class="col-sm-4 text-center">
					<button [routerLink]="['/public/what']" class="btn btn-mission">
						<strong>WHAT</strong><br>WE DO
					</button>
				</div>

				<div class="col-sm-4 text-center">
					<button [routerLink]="['/public/how']" class="btn btn-mission">
						<strong>HOW</strong><br>WE DO IT
					</button>
				</div>

				<div class="col-sm-4 text-center">
					<button [routerLink]="['/public/why']" class="btn btn-mission">
						<strong>WHY</strong><br>WE DO IT
					</button>
				</div>

			</div>

		</div>

		<div class="accoladi-sponsors">

			<h4>
				Accoladi engages with these organizations.<!--  <button class="btn btn-sponsor">See All</button> -->
			</h4>

			<div class="container-fluid">

				<div class="sponsor-item">
					<img src="assets/images/spon1.png" alt="">
				</div>

				<div class="sponsor-item">
					<img src="assets/images/spon2.png" alt="">
				</div>

				<div class="sponsor-item">
					<img src="assets/images/spon3.png" alt="" >
				</div>

				<div class="sponsor-item">
					<img src="assets/images/spon4.png" alt="">
				</div>

				<div class="sponsor-item">
					<img src="assets/images/spon5.png" alt="">
				</div>

			</div>

		</div>

		<app-footer></app-footer>

	</div>
	<!-- Mission End -->

<!-- notice -->
<ng-template #notice let-modal>
	<h3 class="model-heading">Notice</h3>
	<div class="model-body">
		<p>
			THANK YOU FOR VISITING OUR NEW SITE.
			WE ARE CURRENTLY UPGRADING ACCOLADI FOR YOUR BENEFIT.
			PLEASE EXCUSE OUR GLITCHES.
			WE’LL BE BACK FULL SPEED SOON.
			CLICK HERE AND SEE OUR NEW LOOK!
			EMAIL YOUR COMMENTS TO <a href="email:INFO@ACCOLADI.COM">INFO@ACCOLADI.COM</a>
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>
<style>
	.video-container {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>
<!-- Feature -->
<ng-template #featureStudent1 let-modal>
	<h3 class="model-heading">Feature Student</h3>
	<div class="model-body text-center">
		<div class="video-container" >
			<iframe
				src="//www.youtube.com/embed/SWRJgldVAKk?rel=0"
				width="500"
				height="270"
				frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>

<!-- Feature -->
<ng-template #featurestudent2 let-modal>
	<h3 class="model-heading">Feature Student</h3>
	<div class="model-body text-center">
		<div class="video-container" >
			<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/4rKptD09aDA?rel=0" title="YouTube video player"
				frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe> -->
			<video controls="controls" class="video-stream" x-webkit-airplay="allow" data-youtube-id="4rKptD09aDA"
				src="//www.youtube.com/embed/4rKptD09aDA?rel=0"></video>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>

<!-- Feature -->
<ng-template #featureStudent3 let-modal>
	<h3 class="model-heading">Feature Student</h3>
	<div class="model-body text-center">
		<div class="video-container" >
			<iframe
				src="//www.youtube.com/embed/SWRJgldVAKk?rel=0"
				width="500"
				height="270"
				frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>

<!-- Feature -->
<ng-template #featureSchool let-modal>
	<h3 class="model-heading">Feature School</h3>
	<div class="model-body text-center">
		<div class="video-container" >
			<iframe
				src="//www.youtube.com/embed/SWRJgldVAKk?rel=0"
				width="500"
				height="270"
				frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>

<!-- Feature -->
<ng-template #featureProgram let-modal>
	<h3 class="model-heading">Feature Program</h3>
	<div class="model-body text-center">
		<div class="video-container" >
			<iframe
				src="//www.youtube.com/embed/SWRJgldVAKk?rel=0"
				width="500"
				height="270"
				frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>